@using WebUI.Models.Account
@model LoginModel

<form asp-action="Login" asp-controller="Account" asp-antiforgery="true" method="post">
    <div>
        <div>
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control"/>
        </div>

        <div>
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control"/>
        </div>

        <div>
            <input type="submit" value="Save" />
        </div>
    </div>
</form>